/* styles.scss */

body {
  background-color: #0d1117;
  color: #ffc107;
  font-family: "Segoe UI", sans-serif;
  transition: background 0.3s, color 0.3s;
}

body.light-mode {
  background-color: #f8f9fa;
  color: #0d1117;
}

.card {
  background-color: #1a1f24;
  color: #ffffff;
  border: none;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.05);
}

.btn-warning {
  color: #000;
  font-weight: 600;
}
